{{ attach_library('heritage_ui/heritage_ui_library') }}
<div id="textcontent">
  {% set field = data|slice(2) %}
  {% for item in field %}
    {% if item.uniqueid > 0 %}
      <p> {{ item.content|raw }} </p>
      <div> {{ drupal_form('Drupal\\heritage_ui\\Form\\Metadata', item.uniqueid|raw) }} </div> 
      {% if allow_edit == 1 %}
        <p>
          <a class="edit-text" href="{{ path('heritage_text_manager.editsource', {'sourceid': item.uniqueid}, {'query': {'destination': path('heritage_ui.contentpage', {'textid': textid})}}) }}">{{ 'Edit'|t }}</a>
        <p>
      {% endif %}
    {% endif %}
    {% if item.audio %}
       {% if data.play.autoplay == 1 %}
        <audio autoplay controls src= "{{item.audio}}" id = "audio-play">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      {% elseif data.play.continuousplay == 1 %}
        <audio autoplay controls src= "{{item.audio}}" id = "audio-play" onended="continousPlay('{{data.lastlevel}}')">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      {% else %}
        <audio controls src= "{{item.audio}}" id = "audio-play">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      {% endif %}
    {% endif %}

  {% endfor %}

</div>









